#seccion_inicio{
  background-image: url(http://www.comfortsystem.hu/theme/comfortsystem/img/parallax.jpg);
  color: white;
  padding-bottom: 40px;
}

#texto_visitante{
  color: #000;
  width: 400px;
  height: 400px;
}

#seccion_descripcion{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding: 50px;
}

#seccion_descripcion img{
  width: 200px;
  height: 150px;
}

#seccion_social{
  background: #0CD2A4;
  padding: 80px;
}

#seccion_social p{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: white;
}

#seccion_social ul{
  list-style-type: none;
  margin: 0;

}

#seccion_social  li{
  display: inline;
}

#seccion_social  li a{
  color: white;
}

#seccion_social  li a:hover{
  text-decoration: none;
  color: white;
}

#seccion_social  li a:hover i{
    background: #2D373D;
}

#seccion_social .fa{
  border: 2px white solid;
  border-radius: 50%;
  font-size: 40px;
  padding: 10px 15px;
  margin-right: 20px;
}

#seccion_social .fa-twitter{
  padding: 10px 13px;
}

#seccion_social .fa-facebook{
  padding: 10px 20px;
}

#seccion_social .fa-google-plus{
  padding: 10px 7px;
}

#seccion_social li a#facebook{
  width: 200;
}

#copyright{
  background-color: #000;
  color: white;
}
